.single-product-container {
  width: 80%;
  height: 100vh;
  margin: 170px auto;
}
.single-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.single-product-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px 0;
}
.single-product-content img {
  border-radius: 3px;
}
.single-product-button {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 20px 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.single-product-button-middle {
  margin: 0 20px;
}
.single-product-details {
  width: 50%;
  margin: 5px 30px 5px 1px;
  padding: 0 5px 0 0;
}

.single-product-details h3 {
  border-bottom: 2px solid #fff;
  padding: 0 2px 25px 2px;
  font-size: 28px;
  color: #fff;
}
.single-product-details p {
  padding: 25px 2px;
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  color: #fff;
}
.single-product-icon {
  display: flex;
  justify-content: center;
}
.single-product-icon svg {
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .single-product {
    flex-direction: column;
  }
  .single-product-content {
    width: 100%;
  }
  .single-product-content img {
    width: 100%;
  }
  .single-product-details {
    width: 100%;
    padding: 0;
    margin: 25px 0 5px 0;
  }
  .single-product-details h3 {
    padding: 10px 2px 25px 2px;
    font-size: 24px;
  }

  .single-product-container {
    width: 90%;
    height: 70vh;
    margin: 95px auto 15px auto;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .single-product-container {
    width: 90%;
  }
  .single-product-content {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {

  .single-product-details h3 {
    padding: 10px 2px 25px 2px;
    font-size: 22px;
  }

}