* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
}
body {
  font-family: "Comfortaa", cursive;
}
.App {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #121212fc;
  position: relative;
}
.slick-arrow {
  display: none !important;
}
